body{
      font: Normal 14px/26px "Open Sans", sans-serif;
      letter-spacing: 1px;
     font-family:"Montserrat", sans-serif;
    background:#F7F9F9;
}

.main-header{
    z-index: 999;
    width: 100%;
    height: auto;
    background: #fff;
    box-shadow: 0px 7px 16px 0px rgba(50, 50, 50, 0.1);
    position:fixed;
    top:0;
    
}
.logo{
  padding:15px;
}
 .headerRight
{
    text-align:left;
    padding: 0;
}
 .headerLeft
{
    text-align:left;
    padding: 0;
}
.navbar{
    margin-bottom:0px!important;
    -webkit-padding-start: 0px;
}
.navbar li {
    display: inline-block;
    margin: 0 9px; 
}

.navbar li a {
    font-weight: 400;
    font-size: 12px;
    line-height: 80px;
    letter-spacing: 1px;
    text-decoration: none;
    z-index: 999;
    padding: 4px 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #111;
}

.navbar li a.active {
    border-bottom:2px solid #5DADE2;
    color: #5DADE2;
}
.navbar-toggle
{
    font-size: 30px;
    cursor: :hand;
}
.content{
padding-top:100px;
}

.sectionTitle p{
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.08em;
   font-style: italic;
    color: #111;
    margin: 25px 0;
    font-size: 25px; 
}
.sectionTop{
    
    position:relative;
    top:40px;
}
.image{
    border-radius:10px;
    border:4px solid #5DADE2;
    
}
.top{
    
    position:relative;
    top:80px;
}
.color span{
    color:#5DADE2;
}
.footer{
     
    width: 100%;
    height: 80px;;
    background: #fff;
    box-shadow: 9px 7px 9px 16px rgba(50, 50, 50, 0.1);
    
    
}
.social{
    
    padding-top:30px;
    color:#5DADE2;
    
}
.social span {
    padding:5px;
}
#top{
   padding: 5px 3px;
    color: #5DADE2;
    position: fixed;
    bottom: 0;
    right: 5px;
    display: none;
}

/*==========media queries==============*/
@media (max-width:768px)
{
    .navbar li{
   
   display:block;
}  
  .navbar li a{
   
   line-height: 40px;   
}  
  .top{
    position:relative;
    top:0;
  } 
    
}


